:root {
    --blue: #0a146e;
    --white: #ffffff;
    --selectedwhite: #f7fafc;
    --black: #1e1e1e;
    --red: #ed213a;
    --darkred: #93291e;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--black) !important;
    touch-action: none !important;
    user-select: none !important;
}

.swap-box {
    padding: 0 5%;
    width: 90%;
    background-color: var(--selectedwhite);
    position: fixed;
}

h1 {
    font-family: Pacifico;
    color: var(--red);
}

a {
    cursor: pointer;
}

img {
    margin-right: 5px;
}

.cal-overlay {
    background-color: var(--selectedwhite);
    position: fixed;
}

.cal-overlay-hidden {
    visibility: hidden;
}

.cal-header {
    margin: 0 5.5%;
}

.cal-display {
    width: 100% !important;
    padding: 20px;
    pointer-events: none;
}

.calculator form input {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background: var(--black);
    font-size: 20px;
    color: var(--selectedwhite);
    cursor: pointer;
    margin: 2px;
}

@media screen and (min-width: 1024px) {
    .swap-box {
        width: 25% !important;
        padding: 0 2% !important;
    }
    .cal-overlay {
        width: 25% !important;
        padding: 0 2% !important;
    }
}